{% extends "base.html" %}
{% load static %}

{% block title %}Localhost{% endblock %}

{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="caption">
                    <h2>Compras Online!</h2>
                    <div class="line-dec"></div>
                    <p> La Plataforma ideal para encontrar lo que buscas, o vender eso que te queres sacar de encima!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Los más vendidos</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    {% for p in publicaciones %}
                    <a href="{% url 'publicaciones-detail' p.id %}">
                        <div class="featured-item">
                            <img src="{{p.get_thumbnail}}" style="height: 200px; width: 200px">
                            <h4 class="limit">{{p.nombre}}</h4>
                            <h6>${{p.get_precio_actual|floatformat:2}}</h6>
                        </div>
                    </a>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
<!-- Featred Ends Here -->


<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Suscríbete en nuestra Newsletter!</h1>
                </div>
            </div>
          <div class="col-md-8 offset-md-2">
              <div class="main-content">
                  <p>Semanalmente te enviamos las publicaciones que mas éxito estan teniendo en nuestra plataforma!</p>
                  <div class="container">
                      <form id="subscribe" action="" method="get">
                          <div class="row">
                              <div class="col-md-7">
                                  <fieldset>
                                      <input name="email" type="text" class="form-control" id="email" 
                                      onfocus="if(this.value == 'Tu Email...') { this.value = ''; }" 
                                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                                      value="Tu Email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-5">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Suscríbete!</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe Form Ends Here -->
{% endblock %}