<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-4 mr-auto">
        Brand
    </a>
    <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Busca productos, marcas, y muchos mas..." style="width: 35em">
          <div class="search">
            <i class="fas fa-search fa-lg"></i>
          </div>
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="fas fa-sign-in-alt fa-lg mr-2"></i><span>Ingresar</span></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="fas fa-user-plus fa-lg mr-2"></i><span>Registrarse</span></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart fa-lg mr-2"></i><span>Mi Carrito</span></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="#"><i class="fas fa-question-circle fa-lg mr-2"></i><span>Ayuda</span></a>
      </li>
    </ul>
</nav>