{% extends "base.html" %}
{% load static %}

{% block title %}{{ publicacion.nombre }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/wizzard.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
{% endblock %}

{% block content %}
<script>
    const BASE_DOMAIN = "{{ BASE_DOMAIN }}"
    const REDIRECT_URL = "{% url 'publicaciones-vendedor-list' %}"
    const PUBLICACIONES_VENDEDOR = BASE_DOMAIN + "{% url 'api-publicaciones-vendedor' %}"
    const PUBLICACION_CREATE_URL = BASE_DOMAIN + "{% url 'api-publicaciones-create' %}"
    const PRODUCTOS_VENDEDOR = BASE_DOMAIN + "{% url 'api-productos-vendedor' %}"
    const PRODUCTOS_POR_CATEGORIA_URL = BASE_DOMAIN + "{% url 'api-productos-por-categoria' %}"
</script>

{% if update %}
<script>
    var update = true
    var pub_id = '{{ publicacion.pk }}'
    const PUBLICACION_API_GET = "{% url 'api-publicaciones-detail' publicacion.pk %}"
    const PUBLICACION_UPDATE_URL = BASE_DOMAIN + "{% url 'api-publicaciones-update' publicacion.pk %}"
</script>
{% else %}
<script>
    var update = false
    const PUBLICACION_UPDATE_URL = ""
</script>
{% endif %}

{% verbatim %}
<form method="POST" action="">
<div class="container mt-5">
    <div id="app">
        <step-navigation :steps="steps" :currentstep="currentstep">
        </step-navigation>
        
        <div v-show="currentstep == 1">
            <h3>Paso 1</h3>
            <div class="form-group">
                <label for="email">Nombre de Publicación</label>
                <input v-model="publicacion.nombre" type="text" class="form-control" placeholder="Ingresa un Nombre">
                <small class="form-text text-muted">Será visible en los listados de publicaciones</small>
                <div class="invalid-feedback">
                    {{ wizardErrors.nombre }}
                </div>
            </div>
            <div class="form-group">
                <label for="textarea">Detalle de Publicación</label>
                <textarea v-model="publicacion.detalle" class="form-control" name="textarea" rows="4" placeholder="Aquí puedes describir en detalle tu publicación..."></textarea>
                <div class="invalid-feedback">
                    {{ wizardErrors.detalle }}
                </div>
            </div>
        </div>

        <div v-show="currentstep == 2">
            <h3>Paso 2</h3>
            <div>
              <treeselect
                :options="options"
                :disable-branch-nodes="true"
                placeholder="Selecciona un Producto"
                v-model="publicacion.producto_id"
                />
              <treeselect-value :value="publicacion.producto_id" />
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.producto_id }}
            </div>
        </div>

        <div v-show="currentstep == 3">
            <h3>Paso 3</h3>
            <div class="uploader">
                <div>
                    <i class="fa fa-cloud-upload"></i>
                    <div class="form-group">
                        <label for="link">Ingrese un Link</label>
                        <input v-model="img_link" type="text" name="link" class="form-control" v-on:keyup.enter="addImage()" placeholder="https://link.to.cdn/app/uploads/2019/06/...">
                        <small class="form-text" style="color: white">Solo podrá cargar hasta un máximo de 5 links</small>
                    </div>
                </div>
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.images }}
            </div>
            <div class="row">
                <div v-for="img in publicacion.images" class="col col-md-3 mt-2">
                    <img :src="img" style="width:100%; height: 300px" @error="removeImage(img)">
                    <button type="button" @click="removeImage(img)" class="btn btn-outline-danger w-100">Remover</button>
                </div>
            </div>
        </div>

        <div v-show="currentstep == 4">
            <div class="form-group">
              <label for="status">Estado de la Publicación</label>
              <select v-model="publicacion.estado" @change="resetStock(publicacion.estado)" class="form-control" id="status">
                <option value="Activa" selected>Activa</option>
                <option value="Inactiva">Inactiva</option>
                <option v-if="update" value="Sin Stock">Sin Stock</option>
              </select>
            </div>
            <div class="form-group">
              <label for="precio_base">Stock</label>
              <input v-if="stockDisabled" type="number" class="form-control" v-model="publicacion.stock" disabled>
              <input v-else v-model="publicacion.stock" type="number" class="form-control" id="stock" placeholder="Ingrese el stock inicial disponible">
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.stock }}
            </div>
            <div class="form-group">
              <label for="precio_base">Precio Base</label>
              <input v-model="publicacion.precio_base" type="number" class="form-control" id="precio_base" placeholder="Ingrese un precio base, ejemplo: 1500">
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.precio_base }}
            </div>
            <div class="form-group">
              <label for="precio_base">Precio Mínimo</label>
              <input v-model="publicacion.precio_minimo" type="number" class="form-control" id="precio_minimo" placeholder="Ingrese un precio mínimo, ejemplo: 1000">
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.precio_minimo }}
            </div>
            <div class="form-group">
              <label for="precio_base">Precio Máximo</label>
              <input v-model="publicacion.precio_maximo" type="number" class="form-control" id="precio_maximo" placeholder="Ingrese un precio máximo, ejemplo: 2000">
            </div>
            <div class="invalid-feedback">
                {{ wizardErrors.precio_maximo }}
            </div>
        </div>

        <step v-for="step in steps" :currentstep="currentstep" :key="step.id" :step="step" :stepcount="steps.length" @step-change="stepChanged" @submit-form="submit">
        </step>

        <script type="x-template" id="step-navigation-template">
            <ol class="step-indicator">
                <li v-for="step in steps" is="step-navigation-step" :key="step.id" :step="step" :currentstep="currentstep">
                </li>
            </ol>
        </script>

        <script type="x-template" id="step-navigation-step-template">
            <li :class="indicatorclass">
                <div class="step"><i :class="step.icon_class"></i></div>
                <div class="caption hidden-xs hidden-sm">Paso <span v-text="step.id"></span>: <span v-text="step.title"></span></div>
            </li>
        </script>

        <script type="x-template" id="step-template">
            <div class="step-wrapper" :class="stepWrapperClass">
                <button type="button" class="btn btn-primary" @click="lastStep" v-if="!firststep">
                    Anterior
                </button>
                <button type="button" class="btn btn-primary" @click="nextStep" v-if="!laststep">
                    Siguiente
                </button>
                <button type="button" @click="submit" class="btn btn-primary" v-if="laststep">
                    {{ submitButtonName }}
                </button>
            </div>
        </script>
    </div>
</div>
</form>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>

<script>
Vue.component('treeselect', VueTreeselect.Treeselect)

Vue.component("step-navigation-step", {
    template: "#step-navigation-step-template",

    props: ["step", "currentstep"],

    computed: {
        indicatorclass() {
            return {
                active: this.step.id == this.currentstep,
                complete: this.currentstep > this.step.id
            };
        }
    }
});

Vue.component("step-navigation", {
    template: "#step-navigation-template",

    props: ["steps", "currentstep"]
});

Vue.component("step", {
    template: "#step-template",

    props: ["step", "stepcount", "currentstep"],
    data: function () {
        return {
            update: update
        }
    },
    computed: {
        active() {
            return this.step.id == this.currentstep;
        },

        firststep() {
            return this.currentstep == 1;
        },

        laststep() {
            return this.currentstep == this.stepcount;
        },

        stepWrapperClass() {
            return {
                active: this.active
            };
        },
        submitButtonName() {
            return this.update ? 'Modificar' : 'Crear'
        }
    },

    methods: {
        nextStep() {
            this.$emit("step-change", this.currentstep + 1);
        },

        lastStep() {
            this.$emit("step-change", this.currentstep - 1);
        },
        submit() {
            this.$emit("submit-form");
        }
    }
});

new Vue({
    el: "#app",
    data: {
        update: update,
        options: [],
        used_products: [],
        used_publication_names: [],
        currentstep: 1,
        steps: [
            {
                id: 1,
                title: "Publicación",
                icon_class: "fas fa-cash-register"
            },
            {
                id: 2,
                title: "Producto",
                icon_class: "fa fa-th-list"
            },
            {
                id: 3,
                title: "Imágenes",
                icon_class: "far fa-images"
            },
            {
                id: 4,
                title: "Precios & Estado",
                icon_class: "far fa-money-bill-alt"
            }
        ],
        img_link: '',
        publicacion: {
            nombre: '',
            detalle: '',
            producto_id: null,
            images: [],
            precio_base: '',
            precio_minimo: '',
            precio_maximo: '',
            stock: '',
            estado: 'Activa'
        },
        old_publicacion: {},
        wizardErrors: {
            nombre: null,
            detalle: null,
            producto_id: null,
            images: null,
            precio_base: null,
            precio_minimo: null,
            precio_maximo: null,
            stock: null,
            estado: null
        }
    },
    computed: {
        stockDisabled() {
            return this.publicacion.estado == 'Sin Stock'
        }
    },
    created () {
        $.get(PRODUCTOS_POR_CATEGORIA_URL)
        .done( data => {
            this.options = data.content.categorias
        })
        $.get(PUBLICACIONES_VENDEDOR)
        .done( data => {
            this.used_publication_names = data.content.publicaciones.map((each) =>  each.nombre)
        })
        $.get(PRODUCTOS_VENDEDOR)
        .done( data => {
            this.used_products = data.content.productos.map((each) =>  each.id)
        })
        if (update) {
            $.get(PUBLICACION_API_GET)
            .done( data => {
                this.old_publicacion = data.content.publicacion
                this.publicacion = data.content.publicacion
            })
        }
    },
    methods: {
        addImage() {
            let img_link = $.trim(this.img_link)
            if (!this.publicacion.images.includes(img_link) && this.publicacion.images.length < 5) {
                this.publicacion.images.push(img_link)
            }
        },
        removeImage(img_link) {
            this.publicacion.images = this.publicacion.images.filter(each => each !== img_link)
        },
        stepChanged(step) {
            this.cleanErrors()
            if (this.currentstep < step) {
                if(this.handleValidation()) {
                    this.currentstep = step;
                }
            } else {
                this.currentstep = step;
            }
        },
        handleValidation() {
            if (this.currentstep === 1) {
                return this.validateStepOne()
            }
            if (this.currentstep === 2) {
                return this.validateStepTwo()
            }
            if (this.currentstep === 3) {
                return this.validateStepThree()
            }
            if (this.currentstep === 4) {
                return this.validateStepFour()
            }
        },
        cleanErrors() {
            this.wizardErrors.nombre = null
            this.wizardErrors.detalle = null
            this.wizardErrors.producto_id = null
            this.wizardErrors.images = null
            this.wizardErrors.precio_base = null
            this.wizardErrors.precio_minimo = null
            this.wizardErrors.precio_maximo = null
            this.wizardErrors.stock = null
            this.wizardErrors.estado = null
        },
        validateStepOne() {
            if (this.publicacion.nombre === '') {
                this.wizardErrors.nombre = 'El campo es requerido'
            }
            if (update) {
                if (this.publicacion.nombre !== this.old_publicacion.nombre) {
                    if (this.used_publication_names.includes(this.publicacion.nombre)) {
                        this.wizardErrors.nombre = 'Ya tiene una publicación con dicho nombre'
                    }
                }
            } else {
                if (this.used_publication_names.includes(this.publicacion.nombre)) {
                    this.wizardErrors.nombre = 'Ya tiene una publicación con dicho nombre'
                }
            }
            if (this.publicacion.detalle === ''){
                this.wizardErrors.detalle = 'El campo es requerido'
            }
            return this.wizardErrors.nombre === null && this.wizardErrors.detalle === null
        },
        validateStepTwo() {
            if (this.publicacion.producto_id === null) {
                this.wizardErrors.producto_id = 'El campo es requerido'
            }
            if (update) {
                if (this.publicacion.producto_id !== this.old_publicacion.producto_id) {
                    if (this.used_products.includes(this.publicacion.producto_id)) {
                        this.wizardErrors.producto_id = 'Ya tiene una publicación con dicho producto'
                    }
                }
            } else {
                if (this.used_products.includes(this.publicacion.producto_id)) {
                    this.wizardErrors.producto_id = 'Ya tiene una publicación con dicho producto'
                }
            }
            return this.wizardErrors.producto_id === null
        },
        validateStepThree() {
            if (this.publicacion.images.length === 0) {
                this.wizardErrors.images = 'Se requiere al menos una Imagen para la Publicación'
            }
            return this.wizardErrors.images === null
        },
        validateStepFour() {
            let have_error = false
            if (this.publicacion.stock === '') {
                this.wizardErrors.stock = 'El campo es requerido'
                have_error = true
            }
            if (this.publicacion.stock <= 0 && this.publicacion.estado !== 'Sin Stock') {
                this.wizardErrors.stock = 'El stock no puede ser menor o igual a 0'
                have_error = true
            }
            if (this.publicacion.precio_base === '') {
                this.wizardErrors.precio_base = 'El campo es requerido'
                have_error = true
            }
            if (this.publicacion.precio_base <= 0) {
                this.wizardErrors.precio_base = 'El precio no puede ser menor o igual a 0'
                have_error = true
            }
            if (this.publicacion.precio_minimo === '') {
                this.wizardErrors.precio_minimo = 'El campo es requerido'
                have_error = true
            } 
            if (this.publicacion.precio_minimo <= 0) {
                this.wizardErrors.precio_minimo = 'El precio no puede ser menor o igual a 0'
                have_error = true
            }
            if (this.publicacion.precio_maximo === '') {
                this.wizardErrors.precio_maximo = 'El campo es requerido'
                have_error = true
            } 
            if (this.publicacion.precio_maximo <= 0) {
                this.wizardErrors.precio_maximo = 'El precio no puede ser menor o igual a 0'
                have_error = true
            }
            console.log(have_error)
            return !have_error
        },
        resetStock(estado) {
            if (estado == 'Sin Stock') {
                this.publicacion.stock = 0
            }
        },
        submit() {
            this.cleanErrors()
            if (this.validateStepFour()) {
                if (update) {
                    var url = PUBLICACION_UPDATE_URL
                } else {
                    var url = PUBLICACION_CREATE_URL
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(this.publicacion),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function() {
                        window.location.href = REDIRECT_URL
                    }
                });
            }
        }
    }
});

  </script>
{% endblock %}