{% extends "base.html" %}
{% load static %}

{% block title %}{{ publicacion.nombre }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/publicaciones.css' %}">
{% endblock %}

{% block content %}
    <div class="single-product">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <div class="line-dec"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product-slider">
                <div id="slider" class="flexslider">
                  <ul class="slides">
                    {% for img in publicacion.imagen_set.all %}
                    <li style="margin: auto">
                        <img src="{{img.url}}" style="max-height: 350px; width: 75%;"/>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div id="carousel" class="flexslider">
                  <ul class="slides">
                    {% for img in publicacion.imagen_set.all %}
                    <li>
                      <img src="{{img.url}}"/>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-content">
                <h4>{{ publicacion.nombre }}</h4>
                <h6>${{ publicacion.get_precio_actual|floatformat:2 }}</h6>
                <p>{{ publicacion.detalle }}</p>
                {% if not publicacion.is_inactiva %}
                  {% if publicacion.user != request.user %}
                    <form method="get">
                      <span>{{ publicacion.stock }} en stock!</span>
                      <label for="quantity">Cantidad:</label>
                      <input type="quantity" class="quantity-text" id="quantity" value="1">
                      <input id="add-carrito" type="button" class="button" value="Agregar al Carrito">
                    </form>
                  {% endif %}
                <small id="error" style="color:red"></small>
                {% else %}
                  <p class="badge badge-danger">{{ publicacion.estado }}</p>
                {% endif %}
                <div class="down-content">
                  <div class="categories">
                    <h6>Producto:
                        <span><a href="#">{{ publicacion.producto.nombre }}</a>
                    </h6>
                  </div>
                  <div class="categories">
                    <h6> Descripcion del Producto <br/> <br/>
                        <span>{{ publicacion.producto.descripcion }}</span>
                    </h6>
                  </div>
                  <div class="categories">
                    <h6>Categoria:
                      {% for c in publicacion.producto.get_categorias %}
                        <span><a href="#">{{ c.nombre }}</a>
                      {% endfor %}
                    </h6>
                  </div>
                  <div class="share">
                    <h6>Compartir: <span><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-linkedin"></i></a><a href="#"><i class="fab fa-twitter"></i></a></span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Single Page Ends Here -->
    
    
      
      <!-- Ratings and reviews -->
{% verbatim %}
      <div id="app" class="container mt-5">
        <div class="row">
          <div class="col-sm-8">
            <div class="rating-block">
              <h4>Puntaje Promedio</h4>
              <h2 class="bold padding-bottom-7">{{ promedio_puntaje }}<small>/ 5</small></h2>
              <button v-for="n in renderPromedioRatedStars" type="button" class="btn btn-warning btn-sm mr-1" aria-label="Left Align">
                <span class="" aria-hidden="true"><i class="fas fa-star"></i></span>
              </button>
              <button v-for="n in renderPromedioNonRatedStars" type="button" class="btn btn-default btn-grey btn-sm mr-1" aria-label="Left Align">
                <span class="" aria-hidden="true"><i class="fas fa-star"></i></span>
              </button>
            </div>
          </div>	
        </div>	
        
        <div class="row">
          <div class="col-sm-8">
            <hr/>
            <div class="review-block">
            <!-- Review -->
              <div v-for="c in calificaciones" class="row mb-2">
                <div class="col-sm-3">
                  <div class="review-block-name"><h6>{{ c.user_name }}</h6></div>
                </div>
                <div class="col-sm-9">
                  <div class="review-block-rate">
                    <button v-for="n in renderRatedStars(c.puntaje)" type="button" class="btn btn-warning btn-xs mr-1" aria-label="Left Align">
                      <span class="" aria-hidden="true"><i class="fas fa-star"></i></span>
                    </button>
                    <button v-for="n in renderNonRatedStars(c.puntaje)" type="button" class="btn btn-default btn-grey btn-xs mr-1" aria-label="Left Align">
                      <span class="" aria-hidden="true"><i class="fas fa-star"></i></span>
                    </button>
                  </div>
                  <div class="review-block-title">{{ c.titulo }}</div>
                  <div class="review-block-description">{{ c.descripcion }}</div>
                </div>
              </div>
              <hr/>
              <!-- Review -->
            </div>
          </div>
        </div>     
      </div> <!-- /container -->
{% endverbatim %}

      <!-- Similar Starts Here -->
      <div class="featured-items">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <div class="line-dec"></div>
                <h1>También te puede interesar...</h1>
              </div>
            </div>
            <div class="col-md-12">
              <div class="owl-carousel owl-theme">
                  {% for p in similares %}
                  <a href="{% url 'publicaciones-detail' p.id %}">
                      <div class="featured-item">
                          <img src="{{p.get_thumbnail}}" style="height: 200px; width: 200px">
                          <h4 class="limit">{{p.nombre}}</h4>
                          <h6>${{p.get_precio_actual|floatformat:2}}</h6>
                      </div>
                  </a>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
{% block extra_scripts %}
<script>
  const CALIFICACIONES_PUBLICACION = "{{ BASE_DOMAIN }}" + "{% url 'api-calificaciones-list' publicacion.pk %}"
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script>

  $("#add-carrito").click(function(e) {
      const URL = "{{ BASE_DOMAIN }}" + "{% url 'api-compras-items-add' publicacion.pk %}"
      const cantidad = $("#quantity").val()
      $.get(URL, {cantidad: cantidad}, (data) => {
            if (data.status === 400) {
              let error = JSON.parse(data.content)
              $("#error").text(error.error)
            } else {
              window.location.href = "{{ BASE_DOMAIN }}" + "{% url 'compras-detail' %}"
            }
      })
    });

    new Vue({
        el: "#app",
        data: {
          promedio_puntaje: 0,
          calificaciones: []
        },
        methods: {
          renderRatedStars(puntaje) {
            return puntaje
          },
          renderNonRatedStars(puntaje) {
            return 5 - puntaje
          },
        },
        computed: {
          renderPromedioRatedStars () {
            return Math.round(this.promedio_puntaje);
          },
          renderPromedioNonRatedStars () {
            return 5 - Math.round(this.promedio_puntaje);
          }
        },
        created () {
          $.get(CALIFICACIONES_PUBLICACION)
          .done( data => {
              this.calificaciones = data.content.calificaciones
              this.promedio_puntaje = data.content.promedio_puntaje
          })
        }
    })
</script>
{% endblock %}