{% extends "base.html" %}
{% load static %}

{% block title %}Publicaciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row pl-5">
            {% for p in publicaciones %}
            <div class="col col-md-4">
                <a href="{% url 'publicaciones-detail' p.id %}">
                    <div class="card mb-3" style="width: 17rem;">
                        <img src="{% static 'img/fallback_publicaciones.png' %}" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">${{ p.precio_base }}</h5>
                          <p>{{ p.nombre }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}