{% extends "base.html" %}
{% load static %}

{% block title %} Publicaciones {% endblock %}

{% block content %}
<div class="featured-page">
  <div class="container">
    <div class="row mb-3">
        <div class="col-md-3 col-sm-12">
            <div class="section-heading mb-3">
                <h1> <span class="align-top">Publicaciones</span></h1>
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="col col-md-9 s003 justify-content-start">
                <form>
                  <div class="inner-form">
                    <div class="input-field second-wrap">
                      <input id="search" type="text" placeholder="Encontrá eso que buscás!" />
                    </div>
                    <div class="input-field third-wrap">
                      <button class="btn-search" type="button" rel="keep-search">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
        <!-- <div class="col-md-10 col-sm-12">
          <div id="filters" class="button-group">
            <a id="precio_asc" class="btn btn-primary" href="?precio_asc=true" rel="mutex-params-precios">Menor Precio</a>
            <a id="precio_desc" class="btn btn-primary" href="?precio_desc=true" rel="mutex-params-precios">Mayor Precio</a>

            <a id="ventas_asc" class="btn btn-primary" href="?ventas_asc=true" rel="mutex-params-ventas">Menos Ventas</a>
            <a id="ventas_desc" class="btn btn-primary" href="?ventas_desc=true" rel="mutex-params-ventas">Más Ventas</a>
          </div>
        </div> -->
    </div>

    <div class="row">
        <aside class="col-md-3">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a class="filter-header-panel" stylehref="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="false">
                            <div class="row">
                                <div class="col col-md-6">
                                    <h6 class="title">Categoría</h6>
                                </div>
                                <div class="col col-md-6" style="text-align: end">
                                    <i class="icon-control fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </a>
                    </header>
                    <div class="filter-content collapse" id="collapse_1">
                        <div class="card-body">
                            <div class="single category">
                                 <ul class="list-unstyled">
                                   {% for c in categorias %}
                                     <li><a id="categoria_{{c.id}}" href="{{c.id}}" rel="keep-categoria">{{ c.nombre }}</a></li>
                                   {% endfor %}
                                 </ul>
                            </div>
            
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a class="filter-header-panel" href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true">
                                <div class="row">
                                    <div class="col col-md-9">
                                        <h6 class="title">Rango de Precios</h6>
                                    </div>
                                    <div class="col col-md-3" style="text-align: end">
                                        <i class="icon-control fas fa-chevron-down"></i>
                                    </div>
                                </div>
                            </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="card-body">
                            <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>Min</label>
                              <input id="min_precio" class="form-control" placeholder="$0" type="number">
                            </div>
                            <div class="form-group text-right col-md-6">
                              <label>Max</label>
                              <input id="max_precio" class="form-control" placeholder="$1,0000" type="number">
                            </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary" rel="keep-price-range">Aplicar</button>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                
                <article class="filter-group">
                        <header class="card-header">
                            <a class="filter-header-panel" href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true">
                                    <div class="row">
                                        <div class="col col-md-9">
                                            <h6 class="title">Ordenar</h6>
                                        </div>
                                        <div class="col col-md-3" style="text-align: end">
                                            <i class="icon-control fas fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </a>
                        </header>
                    <div class="filter-content in collapse show" id="collapse_4">
                        <div class="card-body">
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params-precios" type="radio" id="precio_asc" name="mutex" checked="" class="custom-control-input" value="precio_asc=true">
                              <div class="custom-control-label">Menor Precio</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params-precios" type="radio" id="precio_desc" name="mutex" class="custom-control-input" value="precio_desc=true">
                              <div class="custom-control-label">Mayor Precio</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params-ventas" type="radio" id="ventas_asc" name="mutex" class="custom-control-input" value="ventas_asc=true">
                              <div class="custom-control-label">Menos Ventas</div>
                            </label>
                            
                            <label class="custom-control custom-radio">
                                <input rel="mutex-params-ventas" type="radio" id="ventas_desc" name="mutex" class="custom-control-input" value="ventas_desc=true">
                                <div class="custom-control-label">Más Ventas</div>
                            </label>
                        </div><!-- card-body.// -->
                    </div>
                </article>
                <button id="reset-filters" type="button" class="btn btn-outline-info mt-2">Desaplicar Filtros</button>
              </div> <!-- card.// -->
        </aside>

        <div class="col col-md-9 featured container no-gutter">
            <div class="row posts">
                {% for publicacion in publicaciones %}
                <div class="item new col-md-4">
                  <a href="{% url 'publicaciones-detail' publicacion.id %}">
                    <div class="featured-item">
                      <img src="{{ publicacion.get_thumbnail }}" style="height: 300px; width: 210px">
                      <h4 class="limit">{{ publicacion.nombre }}</h4>
                      <h6>${{ publicacion.get_precio_actual|floatformat:2 }}</h6>
                    </div>
                  </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</div>


<div class="page-navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
            {% if publicaciones.has_previous %}
                <li><a href="?page={{publicaciones.previous_page_number}}" rel="keep-page-params"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}

            {% for page in publicaciones.paginator.page_range %}
                {% if publicaciones.number == page %}
                    <li class="current-page"><a href="?page={{page}}" rel="keep-page-params">{{page}}</a></li>
                {% else %}
                    <li class=""><a href="?page={{page}}" rel="keep-page-params">{{page}}</a></li>
                {% endif %}
            {% endfor %}

            {% if publicaciones.has_next %}
                <li><a href="?page={{publicaciones.next_page_number}}" rel="keep-page-params"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
  <script>
    $( document ).ready(function() {
        var url_params = new URLSearchParams(window.location.search);

        if (url_params.has("precio_asc")){
            document.querySelector("#precio_asc").checked = true
        }
        if ( url_params.has("precio_desc") ){
            document.querySelector("#precio_desc").checked = true
        }
        if ( url_params.has("ventas_asc") ){
            document.querySelector("#ventas_asc").checked = true
        }
        if (url_params.has("ventas_desc")){
            document.querySelector("#ventas_desc").checked = true
        }
        if (url_params.has("min_precio")){
            document.querySelector("#min_precio").value = url_params.get("min_precio")
        }
        if (url_params.has("max_precio")){
            document.querySelector("#max_precio").value = url_params.get("max_precio")
        }
        if (url_params.has("categoria")){
            categoria_id = url_params.get("categoria")
            document.querySelector("#categoria_" + categoria_id).style.color = "#ff173c"
        }

    });

    function append_new_filter(filter, window_params) {
      // Chequeamos si el nuevo param esta incluido
      // en el search string actual
      // Si no es asi, lo agregamos
      if (!window_params.includes(filter)) {
        window_params = window_params.replace('?','')
        if (window_params !== "") {
          window_params = "?" + window_params + "&" + filter;
        } else {
          window_params = "?" + filter;
        }
      }
      return window_params
    }

    function apply_binary_mutex(order_by_element, window_params, min_sort_value, max_sort_value) {
      if (window_params.includes(min_sort_value) || window_params.includes(max_sort_value)) {
        var max_precio_filter_search = max_sort_value;
        var min_precio_filter_search = min_sort_value;

        var sort_criteria = order_by_element.attr("id")
        
        if (sort_criteria == min_sort_value) {
          window_params = window_params.replace(max_precio_filter_search, min_precio_filter_search);
        } else {
          window_params = window_params.replace(min_precio_filter_search, max_precio_filter_search);
        }
      } else {
        var new_param = order_by_element.attr('value');
        window_params = append_new_filter(new_param, window_params);
      }
      return window_params
    }

    function clean_mutex_precios(window_params) {
      // if before or after "precio_asc" param comes other variable
      // we also clean the "&" char
      window_params = window_params.replace(/precio_asc=true&/, '')
      window_params = window_params.replace(/&precio_asc=true/, '')
      // if not, we take out the "precio_asc" param only.
      window_params = window_params.replace(/precio_asc=true/, '')

      // if before or after "precio_desc" param comes other variable
      // we also clean the "&" char
      window_params = window_params.replace(/precio_desc=true&/, '')
      window_params = window_params.replace(/&precio_desc=true/, '')
      // if not, we take out the "precio_desc" param only.
      window_params = window_params.replace(/precio_desc=true/, '')

      return window_params
    }

    function clean_mutex_ventas(window_params) {
      // if before or after "ventas_asc" param comes other variable
      // we also clean the "&" char
      window_params = window_params.replace(/ventas_asc=true&/, '')
      window_params = window_params.replace(/&ventas_asc=true/, '')
      // if not, we take out the "ventas_asc" param only.
      window_params = window_params.replace(/ventas_asc=true/, '')

      // if before or after "ventas_desc" param comes other variable
      // we also clean the "&" char
      window_params = window_params.replace(/ventas_desc=true&/, '')
      window_params = window_params.replace(/&ventas_desc=true/, '')
      // if not, we take out the "ventas_desc" param only.
      window_params = window_params.replace(/ventas_desc=true/, '')

      return window_params
    }

    $("a[rel~='keep-params']").click(function(e) {
        e.preventDefault();
        var new_param = ($(this).attr('href')).split("?")[1];
        var window_params = window.location.search
        var dest = append_new_filter(new_param, window_params)

        window.setTimeout(function() {
            window.location.href = dest;
        }, 100);
    });

    $("input[rel~='mutex-params-precios']").click(function(e) {
        e.preventDefault();
        var window_params = window.location.search;

        window_params = clean_mutex_ventas(window_params)
        var window_params = apply_binary_mutex($(this), window_params, 'precio_asc', 'precio_desc')
        window.setTimeout(function() {
            window.location.href = window_params;
        }, 100);
    });

    $("input[rel~='mutex-params-ventas']").click(function(e) {
        e.preventDefault();
        var window_params = window.location.search;

        window_params = clean_mutex_precios(window_params)
        window_params = apply_binary_mutex($(this), window_params, 'ventas_asc', 'ventas_desc')
        window.setTimeout(function() {
            window.location.href = window_params;
        }, 100);
    });

    $("a[rel~='keep-page-params']").click(function(e) {
        e.preventDefault();
        var new_param = ($(this).attr('href')).split("?")[1];

        var window_params = window.location.search

        // if before or after "page" param comes other variable
        // we also clean the "&" char
        window_params = window_params.replace(/page=[0-9]&/, '')
        window_params = window_params.replace(/&page=[0-9]/, '')

        // if not, we take out the "page" param only.
        window_params = window_params.replace(/page=[0-9]/, '')

        // add the new page param
        var dest = append_new_filter(new_param, window_params)

        window.setTimeout(function() {
            window.location.href = dest;
        }, 100);
    });

    $("button[rel~='keep-price-range']").click(function(e) {
        e.preventDefault();
        var window_params = window.location.search
        var dest

        var min_precio = document.querySelector("#min_precio").value
        var max_precio = document.querySelector("#max_precio").value
        if (min_precio) {
            dest = append_new_filter("min_precio=" + min_precio, window_params)
        }
        if (max_precio) {
            if (dest) {
                dest = append_new_filter("max_precio=" + max_precio, dest)
            } else {
                dest = append_new_filter("max_precio=" + max_precio, window_params)
            }
        }

        if (dest) {
            window.setTimeout(function() {
                window.location.href = dest;
            }, 100);
        }
    });

    $("a[rel~='keep-categoria']").click(function(e) {
        e.preventDefault();

        var url_params = new URLSearchParams('');
        url_params.delete("categoria")
        categoria_id = $(this).attr('href')
        url_params.append('categoria', categoria_id)

        window_params = "?" + url_params.toString()
        window.setTimeout(function() {
            window.location.href = window_params;
        }, 100);
    });

    $("#search").keydown(function(e) {
      if(event.keyCode == 13) {
        event.preventDefault();
      }
    });

    $("button[rel~='keep-search']").click(function(e) {
        var url_params = new URLSearchParams('');
        url_params.delete("search")
        search = document.querySelector("#search").value

        if (search !== "") {
          url_params.append('search', search)

          window_params = "?" + url_params.toString()
          window.setTimeout(function() {
              window.location.href = window_params;
          }, 100);
        }
    });

    $("#reset-filters").click(function(e){
      window.setTimeout(function() {
          window.location.search = ''
      }, 100);
    });

  </script>
{% endblock %}