{% extends "base.html" %}
{% load static %}

{% block title %} Publicaciones {% endblock %}

{% block content %}
<div class="featured-page">
  <div class="container">
    <div class="row mb-3">
        <div class="col-md-3 col-sm-12">
            <div class="section-heading mb-3">
                <h1> <span class="align-top">Mis Publicaciones</span></h1>
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="col col-md-7" style="text-align: end;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                {% if tipo_precio_actual == constants.precio_base %}
                <label id="change_to_precio_base" class="btn btn-outline-success active">
                  <input type="radio" name="precio_actual" autocomplete="off" checked> Precio Base
                </label>
                {% else %}
                <label id="change_to_precio_base" class="btn btn-outline-success">
                    <input type="radio" name="precio_actual" autocomplete="off" checked> Precio Base
                  </label>
                {% endif %}
                {% if tipo_precio_actual == constants.precio_minimo %}
                <label id="change_to_precio_minimo" class="btn btn-outline-success active">
                  <input type="radio" name="precio_actual" autocomplete="off"> Precio Mínimo
                </label>
                {% else %}
                <label id="change_to_precio_minimo" class="btn btn-outline-success">
                    <input type="radio" name="precio_actual" autocomplete="off"> Precio Mínimo
                  </label>
                {% endif %}
                {% if tipo_precio_actual == constants.precio_maximo %}
                <label id="change_to_precio_maximo" class="btn btn-outline-success active">
                  <input type="radio" name="precio_actual" autocomplete="off"> Precio Máximo
                </label>
                {% else %}
                <label id="change_to_precio_maximo" class="btn btn-outline-success">
                    <input type="radio" name="precio_actual" autocomplete="off"> Precio Máximo
                  </label>
                {% endif %}
              </div>
        </div>
        <div class="col col-md-2" style="text-align: end;">
            <a href="{% url 'publicaciones-create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">Nueva Publicación</a>
        </div>
    </div>

    <div class="row">
        <aside class="col-md-3">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a class="filter-header-panel" href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
                                <div class="row">
                                    <div class="col col-md-9">
                                        <h6 class="title">Precios</h6>
                                    </div>
                                    <div class="col col-md-3" style="text-align: end">
                                        <i class="icon-control fas fa-chevron-down"></i>
                                    </div>
                                </div>
                            </a>
                    </header>
                    <div class="filter-content collapse" id="collapse_1">
                        <div class="card-body">
                              <div class="form-group text-center">
                                <label>Modificar todos los Precios</label>
                                <input id="percentage" name="percentage" class="form-control" placeholder="Ingrese un Porcentaje" type="number">
                                <small id="percentage_error" class="" style="color: red"></small>
                                <small class="form-text text-muted">Se aplicará a todas sus publicaciones</small>
                              </div>
                            <div class="row">
                              <div class="col col-md-6">
                                <button class="btn btn-primary" id="incrementar_precios">Aumentar</button>
                              </div>
                              <div class="col col-md-6">
                                  <button class="btn btn-primary" id="decrementar_precios">Disminuir</button>
                              </div>
                            </div>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a class="filter-header-panel" href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true">
                                <div class="row">
                                    <div class="col col-md-9">
                                        <h6 class="title">Estado</h6>
                                    </div>
                                    <div class="col col-md-3" style="text-align: end">
                                        <i class="icon-control fas fa-chevron-down"></i>
                                    </div>
                                </div>
                            </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="card-body">
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="estado_todos" name="mutex-estado" checked="" class="custom-control-input" value="todos">
                              <div class="custom-control-label">Todos</div>
                            </label>

                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="estado_activa" name="mutex-estado" checked="" class="custom-control-input" value="estado_activa">
                              <div class="custom-control-label">Activa</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="estado_inactiva" name="mutex-estado" class="custom-control-input" value="estado_inactiva">
                              <div class="custom-control-label">Inactiva</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="estado_sin_stock" name="mutex-estado" class="custom-control-input" value="estado_sin_stock">
                              <div class="custom-control-label">Sin Stock</div>
                            </label>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                
                <article class="filter-group">
                        <header class="card-header">
                            <a class="filter-header-panel" href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true">
                                    <div class="row">
                                        <div class="col col-md-9">
                                            <h6 class="title">Precio Activo</h6>
                                        </div>
                                        <div class="col col-md-3" style="text-align: end">
                                            <i class="icon-control fas fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </a>
                        </header>
                    <div class="filter-content in collapse show" id="collapse_4">
                        <div class="card-body">
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="precio_todos" name="mutex-precio" checked="" class="custom-control-input" value="todos">
                              <div class="custom-control-label">Todos</div>
                            </label>

                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="precio_base" name="mutex-precio" checked="" class="custom-control-input" value="precio_base">
                              <div class="custom-control-label">Precio Base</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="precio_minimo" name="mutex-precio" class="custom-control-input" value="precio_minimo">
                              <div class="custom-control-label">Precio Mínimo</div>
                            </label>
            
                            <label class="custom-control custom-radio">
                              <input rel="mutex-params" type="radio" id="precio_maximo" name="mutex-precio" class="custom-control-input" value="precio_maximo">
                              <div class="custom-control-label">Precio Máximo</div>
                            </label>
                            
                        </div><!-- card-body.// -->
                    </div>
                </article>
                <button id="reset-filters" type="button" class="btn btn-outline-info mt-2">Desaplicar Filtros</button>
              </div> <!-- card.// -->
        </aside>

        <div class="col col-md-9 featured container no-gutter">
          {% if publicaciones|length == 0 %}
          <div class="container p-5" style="text-align: center">
            <h4>
              Oops, parece que no dispones de publicaciones por el momento...
            </h4>  
          </div>
          {% endif %}
            <div class="row posts">
                {% for publicacion in publicaciones %}
                <div class="item new col-md-4">
                  <div class="featured-item">
                    <a href="{% url 'publicaciones-detail' publicacion.id %}">
                      <img src="{{ publicacion.get_thumbnail }}" style="height: 300px; width: 210px">
                      <h4 class="limit">{{ publicacion.nombre }}</h4>
                    </a>
                    <h6>${{ publicacion.get_precio_actual|floatformat:2 }}</h6>
                    <div class="row mt-3">
                      <div class="col col-md-6">
                        <a role="button" class="btn btn-outline-info w-100" href="{% url 'publicaciones-update' publicacion.pk %}">Modificar</a>
                      </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</div>


<div class="page-navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if publicaciones|length != 0 %}
        <ul>
            {% if publicaciones.has_previous %}
                <li><a href="?page={{publicaciones.previous_page_number}}" rel="keep-page-params"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}

            {% for page in publicaciones.paginator.page_range %}
                {% if publicaciones.number == page %}
                    <li class="current-page"><a href="?page={{page}}" rel="keep-page-params">{{page}}</a></li>
                {% else %}
                    <li class=""><a href="?page={{page}}" rel="keep-page-params">{{page}}</a></li>
                {% endif %}
            {% endfor %}

            {% if publicaciones.has_next %}
                <li><a href="?page={{publicaciones.next_page_number}}" rel="keep-page-params"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
  <script>
    $( document ).ready(function() {
        var url_params = new URLSearchParams(window.location.search);

        if (!url_params.has('precio_base') || !url_params.has('precio_minimo') || !url_params.has('precio_maximo')){
            document.querySelector("#precio_todos").checked = true
        }
        if (!url_params.has('estado_activa') || !url_params.has('estado_inactiva') || !url_params.has('estado_sin_stock')){
            document.querySelector("#estado_todos").checked = true
        }
        if ( url_params.has("precio_base") ){
            document.querySelector("#precio_base").checked = true
        }
        if ( url_params.has("precio_minimo") ){
            document.querySelector("#precio_minimo").checked = true
        }
        if (url_params.has("precio_maximo")){
            document.querySelector("#precio_maximo").checked = true
        }
        if (url_params.has("estado_activa")){
            document.querySelector("#estado_activa").checked = true
        }
        if (url_params.has("estado_inactiva")){
            document.querySelector("#estado_inactiva").checked = true
        }
        if (url_params.has("estado_sin_stock")){
            document.querySelector("#estado_sin_stock").checked = true
        }
    });

    function handle_mutex(e, elem) {
        e.preventDefault();
        var url_params = new URLSearchParams('');
        var dest = ''

        if (elem.attr("value") !== 'todos') {
            filter = elem.attr("value")
            url_params.append(filter, 'true')
            dest = url_params.toString()
        }

        window.setTimeout(function() {
            window.location.search = dest;
        }, 100);
    }

    $("input[rel~='mutex-params']").click(function(e) {
        handle_mutex(e, $(this))
    });

    $("a[rel~='keep-page-params']").click(function(e) {
        e.preventDefault();
        var new_param = ($(this).attr('href')).split("?")[1];

        var window_params = window.location.search

        // if before or after "page" param comes other variable
        // we also clean the "&" char
        window_params = window_params.replace(/page=[0-9]&/, '')
        window_params = window_params.replace(/&page=[0-9]/, '')

        // if not, we take out the "page" param only.
        window_params = window_params.replace(/page=[0-9]/, '')

        // add the new page param
        var dest = append_new_filter(new_param, window_params)

        window.setTimeout(function() {
            window.location.href = dest;
        }, 100);
    });

    $("#reset-filters").click(function(e){
      window.setTimeout(function() {
          window.location.search = ''
      }, 100);
    });

    function getPercentage() {
      return $("#percentage").val()
    }

    function modificarPrecios(url) {
      $.get(url, {'percentage': getPercentage()})
        .done( data => {
          window.location.href = ''
        })
        .fail( data => {
          let error = data.responseJSON.error
          $("#percentage_error").text(error)
        })
    }

    $("#incrementar_precios").click(function(e){
      const URL = "{{ BASE_DOMAIN }}" + "{% url 'api-publicaciones-incrementar-precios' %}"
      modificarPrecios(URL)
    });

    $("#decrementar_precios").click(function(e){
      const URL = "{{ BASE_DOMAIN }}" + "{% url 'api-publicaciones-decrementar-precios' %}"
      modificarPrecios(URL)
    });

    $("#change_to_precio_base").click(function(e){
      window.location.href = "{% url 'publicaciones-precio-base' %}"
    });

    $("#change_to_precio_minimo").click(function(e){
      window.location.href = "{% url 'publicaciones-precio-minimo' %}"
    });

    $("#change_to_precio_maximo").click(function(e){
      window.location.href = "{% url 'publicaciones-precio-maximo' %}"
    });

    function append_new_filter(filter, window_params) {
      // Chequeamos si el nuevo param esta incluido
      // en el search string actual
      // Si no es asi, lo agregamos
      if (!window_params.includes(filter)) {
        window_params = window_params.replace('?','')
        if (window_params !== "") {
          window_params = "?" + window_params + "&" + filter;
        } else {
          window_params = "?" + filter;
        }
      }
      return window_params
    }

  </script>
{% endblock %}