{% extends "base.html" %}
{% load static %}

{% block title %}Mis Compras{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app" class="container mt-5 pt-5">
    <main class="col-md-12">
        <article class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">Tus Movimientos</h5>
                
        <section class="section-content padding-y">
            <div class="container">
                <div v-if="formSuccess" class="alert alert-success mt-3" role="alert">
                  {{ formSuccess }}
                </div>
                <div class="row">
                    <main class="col-md-9">
                        <div class="card">
                    
                            <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                              <th scope="col">Fecha</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Detalle</th>
                              <th scope="col" width="120">Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ITEM PUBLICACION -->
                            <tr v-for="m in movimientos">
                                <td>
                                    <div style="text-align: left">
                                        <var class="price">
                                            {{ m.fecha }}
                                        </var>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: left">
                                        {{ m.tipo }}
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align: left">
                                        <small>
                                            {{ m.descripcion }}
                                        </small>
                                        <br/>
                                    </div>
                                </td>
                                <td> 
                                    <div class="price-wrap">
                                        <var v-if="m.is_positivo" class="price" style="color: green">+ ${{ m.monto.toFixed(2) }}</var>
                                        <var v-else class="price" style="color: red">- ${{ m.monto.toFixed(2) }}</var>
                                    </div> <!-- price-wrap .// -->
                                </td>
                                <td class="text-left">
                                </td>
                            </tr>
                            <!-- END ITEM PUBLICACION -->
                            </tbody>
                            </table>
                        
                        </div> <!-- card.// -->
                    </main> <!-- col.// -->
                    <aside class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                    <dl class="dlist-align">
                                      <dt>Puntos:</dt>
                                      <dd class="text-right  h5"><strong>{{ puntos }}</strong></dd>
                                    </dl>
                                    <dl class="dlist-align">
                                      <dt>Saldo actual:</dt>
                                      <dd class="text-right  h5"><strong>${{ saldo.toFixed(2) }}</strong></dd>
                                    </dl><hr>
                                      <!-- Poner saldo en cero -->
                                      <a href="#" class="btn btn-primary float-md-left" @click="retirarMonto">
                                          Retirar </a>
                                      <a href="#" class="btn btn-primary float-md-right" @click="cargarMonto">
                                          Cargar </a>
                            </div> <!-- card-body.// -->
                        </div>  <!-- card .// -->
                    </aside> <!-- col.// -->
                </div>    
        </div> <!-- container .//  -->
        </section>  
                
    </div> <!-- card-body .// -->
    </article> <!-- card.// -->
    </main>

    <div class="modal fade" id="cargarBilleteraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cargar Créditos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="errors" class="alert alert-danger mt-3" role="alert">
              {{ errors }}
            </div>
            <form>
              <div class="form-group">
                <label for="saldo" class="col-form-label">Monto a Cargar</label>
                <input v-model="monto" type="number" class="form-control" id="monto_carga">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="efectuarCargarMonto">Efectuar Carga</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="extraerBilleteraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Retirar Créditos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="errors" class="alert alert-danger mt-3" role="alert">
              {{ errors }}
            </div>
            <form>
              <div class="form-group">
                <label for="saldo" class="col-form-label">Monto a Retirar</label>
                <input v-model="monto" type="number" class="form-control" id="monto_extraccion">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="efectuarRetirarMonto">Efectuar Retiro</button>
          </div>
        </div>
      </div>
    </div>


</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script>
    /* URLS */
    const MIS_MOVIMIENTOS_URL = "{{ BASE_URL }}" + "{% url 'api-billetera-movimientos-list' %}"
    const CARGAR_SALDO_URL = "{{ BASE_URL }}" + "{% url 'api-billetera-cargar-saldo' %}"
    const RETIRAR_SALDO_URL = "{{ BASE_URL }}" + "{% url 'api-billetera-retirar-saldo' %}"
</script>

<script>
    new Vue({
        el: "#app",
        data: {
          saldo: 0,
          puntos: 0,
          movimientos: [],
          monto: '',
          errors: '',
          formSuccess: ''
        },
        methods: {
            cargarMonto() {
                this.errors = ''
                $('#cargarBilleteraModal').modal('show')
            },
            retirarMonto() {
                this.errors = ''
                $('#extraerBilleteraModal').modal('show')
            },
            efectuarCargarMonto() {
                if (this.isValidCarga()) {
                    vm = this
                    $.ajax({
                        type: "POST",
                        url: CARGAR_SALDO_URL,
                        data: JSON.stringify(this.monto),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data) {
                            vm.formSuccess = data.content.response
                            $.get(MIS_MOVIMIENTOS_URL)
                            .done( data => {
                                vm.saldo = data.content.saldo
                                vm.puntos = data.content.puntos
                                vm.movimientos = data.content.movimientos
                            })
                        }
                    });
                    $('#cargarBilleteraModal').modal('hide')
                }
            },
            efectuarRetirarMonto() {
                if (this.isValidRetiro()) {
                    vm = this
                    $.ajax({
                        type: "POST",
                        url: RETIRAR_SALDO_URL,
                        data: JSON.stringify(this.monto),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data) {
                            vm.formSuccess = data.content.response
                            $.get(MIS_MOVIMIENTOS_URL)
                            .done( data => {
                                vm.saldo = data.content.saldo
                                vm.puntos = data.content.puntos
                                vm.movimientos = data.content.movimientos
                            })
                        }
                    });
                    $('#extraerBilleteraModal').modal('hide')
                }
            },
            isValidCarga() {
                this.errors = ''
                if (this.monto === '' || this.monto == 0) {
                    this.errors = 'Ingrese un monto superior a cero'
                }
                return this.errors === ''
            },
            isValidRetiro() {
                this.errors = ''
                if (this.monto === '' || this.monto == 0) {
                    this.errors = 'Ingrese un monto superior a cero'
                } else {
                    if (this.monto > this.saldo) {
                        this.errors = 'El monto ingresado supera su saldo actual ($' + this.saldo + ')'
                    }
                    return this.errors === ''
                }
            }
        },
        computed: {
        },
        created () {
          $.get(MIS_MOVIMIENTOS_URL)
          .done( data => {
              this.saldo = data.content.saldo
              this.puntos = data.content.puntos
              this.movimientos = data.content.movimientos
          })
        }
    })
</script>
{% endblock %}


