{% extends "base.html" %}
{% load static %}

{% block title %}Mis Compras{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app" class="container mt-5 pt-5">
    <main class="col-md-12">
        <article class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">Tus Últimas Compras </h5>
                
        <section class="section-content padding-y">
            <div class="container">
                    <div v-if="formSuccess" class="alert alert-success mt-3" role="alert">
                      {{ formSuccess }}
                    </div>
                <div class="row">
                    <main class="col-md-12">
                    <div class="card">
                    
                    <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Producto</th>
                      <th scope="col">Vendedor</th>
                      <th scope="col" width="120">Cantidad</th>
                      <th scope="col" width="120">Precio</th>
                      <th scope="col" width="200">Fecha</th>
                      <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ITEM PUBLICACION -->
                    <tr v-for="t in transacciones">
                        <td>
                            <figure class="itemside">
                                <div class="aside"><img :src="t.publicacion.images[0]" class="img-sm"></div>
                                <figcaption class="info">
                                    <a href="#" class="title text-dark">{{ t.publicacion.nombre }}</a>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div style="text-align: left">
                                <var class="price">
                                    {{ t.vendedor.nombre_completo }}
                                </var>
                                <small>
                                    {{ t.vendedor.email }}
                                </small>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: left">
                                <small>
                                    {{ t.cantidad}} Unidades
                                </small>
                                <br/>
                            </div>
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">${{ t.cantidad * t.precio_unitario }}</var> 
                                <small class="text-muted">${{ t.precio_unitario }} X Unidad</small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td>
                            {{ t.fecha }}
                        </td>
                        <td class="text-left">
                            <span v-if="t.is_calificada" class="badge badge-success">Calificada</span>
                            <button v-else class="btn btn-outline-info" @click="calificarPublicacion(t.publicacion)">Calificar</button>
                        </td>
                    </tr>
                    <!-- END ITEM PUBLICACION -->
                    </tbody>
                    </table>
                
                    </div> <!-- card.// -->
                        </main> <!-- col.// -->
                    </div>
                    
                    </div> <!-- container .//  -->
                </section>  
                
            </div> <!-- card-body .// -->
        </article> <!-- card.// -->
    </main>

    <div class="modal fade" id="calificacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Calificar Publicación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="errors" class="alert alert-danger mt-3" role="alert">
              {{ errors }}
            </div>
            <form>
              <div class="form-group">
                <label for="titulo" class="col-form-label">Título</label>
                <input v-model="form_puntaje.titulo" type="text" class="form-control" id="titulo">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Descripción</label>
                <textarea v-model="form_puntaje.descripcion" class="form-control" id="message-text"></textarea>
              </div>
              <div class="form-group">
                <label for="puntaje">Puntaje</label>
                <select v-model="form_puntaje.puntaje" class="form-control" id="puntaje">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="enviarCalificacion()">Guardar Calificación</button>
          </div>
        </div>
      </div>
    </div>


</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script>
    /* URLS */
    const MIS_COMPRAS_URL = "{{ BASE_URL }}" + "{% url 'api-compras-items-buyed' %}"
    const CREAR_CALIFICACION_URL = "{{ BASE_URL }}" + "/api/calificaciones/create/"
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
          transacciones: [],
          form_puntaje: {
              titulo: '',
              descripcion: '',
              puntaje: '',
              publicacion_id: ''
          },
          errors: '',
          formSuccess: ''
        },
        methods: {
            calificarPublicacion(publicacion) {
                this.cleanCalificacionForm()
                this.form_puntaje.publicacion_id = publicacion.id
                $('#calificacionModal').modal('show')
            },
            enviarCalificacion() {
                if (this.formIsValid()) {
                    vm = this
                    $.ajax({
                        type: "POST",
                        url: CREAR_CALIFICACION_URL + this.form_puntaje.publicacion_id + '/',
                        data: JSON.stringify(this.form_puntaje),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data) {
                            vm.formSuccess = data.content.response
                            $.get(MIS_COMPRAS_URL)
                            .done( data => {
                                vm.transacciones = data.content.transacciones
                            })
                        }
                    });
                    $('#calificacionModal').modal('hide')
                }
            },
            cleanCalificacionForm() {
                this.form_puntaje = {
                    titulo: '',
                    descripcion: '',
                    puntaje: '',
                    publicacion_id: ''
                }
                this.errors = ''
            },
            formIsValid() {
                this.errors = ''
                if (this.form_puntaje.titulo === '') {
                    this.errors = 'Todos los campos son requeridos'
                }
                if (this.form_puntaje.descripcion === '') {
                    this.errors = 'Todos los campos son requeridos'
                }
                if (this.form_puntaje.puntaje === '') {
                    this.errors = 'Todos los campos son requeridos'
                }
                return this.errors === ''
            }
        },
        computed: {
        },
        created () {
          $.get(MIS_COMPRAS_URL)
          .done( data => {
              this.transacciones = data.content.transacciones
          })
        }
    })
</script>
{% endblock %}