{% extends "base.html" %}
{% load static %}

{% block title %}Mis Compras{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center mb-3">
        <h3>
            Ventas y monto acumulado, Agrupado por Publicaciones
        </h3>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <canvas id="myChart1"></canvas>
        </div>
        <div class="col col-md-6">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <hr>
    <!--
        <div class="row justify-content-center my-3 mt-5">
            <h3>
                Ventas y monto acumulado, agrupado por categoría
            </h3>
        </div>
        <div class="row mt-5">
            <div class="col col-md-6">
                <canvas id="myChart3"></canvas>
            </div>
            <div class="col col-md-6">
                <canvas id="myChart4"></canvas>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center mb-3 mt-5">
            <h3>
                Ventas y monto acumulado, agrupado por comprador
            </h3>
        </div>
    
        <div class="row mt-5">
            <div class="col col-md-6">
                <canvas id="myChart5"></canvas>
            </div>
            <div class="col col-md-6">
                <canvas id="myChart6"></canvas>
            </div>
        </div>
    -->
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>

<script>
    let publicaciones = []
    const ESTADISTICAS_PUBLICACION_URL = "{{ BASE_DOMAIN }}" + "{% url 'api-compras-estadisticas-publicaciones' %}"
    $.get(ESTADISTICAS_PUBLICACION_URL)
    .done( data => {
        publicaciones = data.content.publicaciones
        let data_publicaciones_ventas = {
            datasets: [{
                data: publicaciones.map((each) => each.ventas)
            }],
            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: publicaciones.map((each) => each.nombre)
        }

        let data_publicaciones_monto = {
            datasets: [{
                data: publicaciones.map((each) => each.monto_acumulado)
            }],
            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: publicaciones.map((each) => each.nombre)
        }

        let options = {}
        var chart1 = $('#myChart1');
        var chart2 = $('#myChart2');

        var myPieChart = new Chart(chart1, {
            type: 'pie',
            data: data_publicaciones_ventas,
            options: options
        });

        var myPieChart = new Chart(chart2, {
            type: 'pie',
            data: data_publicaciones_monto,
            options: options
        });
    })

    // var chart3 = $('#myChart3');
    // var chart4 = $('#myChart4');
    // var chart5 = $('#myChart5');
    // var chart6 = $('#myChart6');



    //var myPieChart = new Chart(chart2, {
    //    type: 'pie',
    //    data: data,
    //    options: options
    //});
//
    //var myPieChart = new Chart(chart3, {
    //    type: 'pie',
    //    data: data,
    //    options: options
    //});
//
    //var myPieChart = new Chart(chart4, {
    //    type: 'pie',
    //    data: data,
    //    options: options
    //});
//
    //var myPieChart = new Chart(chart5, {
    //    type: 'pie',
    //    data: data,
    //    options: options
    //});
//
    //var myPieChart = new Chart(chart6, {
    //    type: 'pie',
    //    data: data,
    //    options: options
    //});
</script>
{% endblock %}