{% extends "base.html" %}
{% load static %}

{% block title %} Carrito de Compras {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
<script>
    const BASE_DOMAIN = "{{ BASE_DOMAIN }}"
    const REDIRECT_URL = "{% url 'publicaciones-list' %}"
    const ITEMS_URL = BASE_DOMAIN + "{% url 'api-compras-items-list' %}"
    const DELETE_ITEM_URL = BASE_DOMAIN + "/api/compras/items/delete/"
    const UPDATE_CANTIDAD_ITEM_URL = BASE_DOMAIN + "/api/compras/items/update_cantidad/"
    const BUY_URL = BASE_DOMAIN + "{% url 'api-compras-items-buy' %}"
    const MIS_MOVIMIENTOS_URL = "{{ BASE_URL }}" + "{% url 'api-billetera-movimientos-list' %}"
</script>

{% verbatim %}
    <div id="app" class="container pt-5">
        <section class="section-pagetop bg mt-5">
            <div class="container">
                <h2 class="title-page">Carrito de Compras</h2>
            </div> <!-- container //  -->
        </section>

        <div v-if="buyError" class="alert alert-danger mt-3" role="alert">
          {{ buyError }}
        </div>
        <div v-if="buySuccess" class="alert alert-success mt-3" role="alert">
          {{ buySuccess }}
        </div>
        <section class="section-content padding-y">
            <div class="container">
            
            <div class="row">
                <main class="col-md-9">
            <div class="card">
            
            <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
            <tr class="small text-uppercase">
              <th scope="col">Producto</th>
              <th scope="col" width="120">Cantidad</th>
              <th scope="col" width="120">Precio</th>
              <th scope="col" class="text-right" width="200"> </th>
            </tr>
            </thead>
            <tbody>
            <!-- ITEM PUBLICACION -->
            <tr v-for="publicacion in publicaciones" :key="publicacion.id" :class="{'stock-insuficiente': isOutOfStock(publicacion) && !isInactiva(publicacion), 'inactiva': isInactiva(publicacion) }">
                <td>
                    <figure class="itemside">
                        <div class="aside"><img :src="publicacion.imagen" class="img-sm"></div>
                        <figcaption class="info">
                            <a href="#" class="title text-dark">{{ publicacion.nombre }}</a>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <v-select :input="syncCantidad(publicacion)" :class="{'select-stock-insuficiente': publicacion.stock < publicacion.cantidad }" v-if="!isInactiva(publicacion)" v-model="publicacion.cantidad" :options="getSelectOptions(publicacion)" label="title">
                      <template slot="option" slot-scope="option">
                        <span v-if="publicacion.stock < option.title" style="color:red">
                          {{ option.title }} Stock Insuficiente
                        </span>
                        <span v-else>
                          {{ option.title }}
                        </span>
                      </template>
                    </v-select>
                    <div v-else style="text-align: center">
                        <span class="badge badge-danger">{{ publicacion.estado }}</span>
                    </div>

                    <div v-if="isOutOfStock(publicacion) && !isInactiva(publicacion)" style="text-align: center">
                        <small style="color: red">
                            Stock Insuficiente
                        </span>
                    </div>

                </td>
                <td> 
                    <div class="price-wrap"> 
                        <var class="price">${{ publicacion.precio * publicacion.cantidad }}</var> 
                        <small class="text-muted"> ${{ publicacion.precio }} Unidad </small> 
                    </div> <!-- price-wrap .// -->
                </td>
                <td class="text-left"> 
                    <button class="btn btn-outline-danger" @click="deletePublicacion(publicacion)">Eliminar</button>
                </td>
            </tr>
            <!-- END ITEM PUBLICACION -->
            </tbody>
            </table>
            
            <div class="card-body border-top">
                <a v-if="publicaciones.length && !buySuccess" href="#" class="btn btn-primary float-md-right" @click="confirmarCompra"> Comprar <i class="fa fa-chevron-right"></i> </a>
                <button class="btn btn-light" @click="seguirComprando"> <i class="fa fa-chevron-left"></i> Seguir Comprando </button>
            </div>	
            </div> <!-- card.// -->
                </main> <!-- col.// -->
                <aside class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                                <dl class="dlist-align">
                                  <dt>Tu saldo:</dt>
                                  <dd class="text-right  h6">${{ saldo }}</dd>
                                </dl>
                                <dl class="dlist-align">
                                  <dt>Total:</dt>
                                  <dd class="text-right  h5"><strong>${{ total }}</strong></dd>
                                </dl>
                                <hr>
                        </div> <!-- card-body.// -->
                    </div>  <!-- card .// -->
                </aside> <!-- col.// -->
            </div>
            
            </div> <!-- container .//  -->
        </section>

        <!-- Buy Modal -->
            <div class="modal fade" id="buymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmar Compra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>
                    Está a punto de realizar una compra por ${{ total }}.
                </p>
                <p>
                    ¿Desea continuar?
                </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" @click="comprar" class="btn btn-success">Confirmar Compra</button>
            </div>
          </div>
        </div>
      </div>
        
    </div>
{% endverbatim %}

{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

<script>
    Vue.component('v-select', VueSelect.VueSelect);

    new Vue({
        el: "#app",
        data: {
            publicaciones: [],
            buyError: '',
            buySuccess: '',
            saldo: 0
        },
        computed: {
            total () {
                total = 0
                this.publicaciones.forEach((publicacion) => {
                    total += publicacion.precio * publicacion.cantidad
                })
                return total
            }
        },
        methods: {
            isInactiva (publicacion) {
                return (publicacion.stock == 0 || publicacion.estado == 'Inactiva')
            },
            stockInsuficiente (publicacion) {
                return publicacion.stock <= publicacion.cantidad
            },
            getStockSelectClass (publicacion) {
                let html_class = 'form-control'
                if (this.stockInsuficiente()) {
                    html_class += 'select-stock-insuficiente'
                }
            },
            getSelectOptions (publicacion) {
                if (this.stockInsuficiente(publicacion)) {
                    return [...Array.from(new Array(publicacion.cantidad), (x,i) => i + 1)]
                } else {
                    return [...Array.from(new Array(publicacion.stock), (x,i) => i + 1)]
                }
            },
            isOutOfStock (publicacion) {
                return publicacion.stock < publicacion.cantidad
            },
            deletePublicacion (publicacion) {
                $.get(DELETE_ITEM_URL + publicacion.id)
                    .done( data => {
                        this.publicaciones = this.publicaciones.filter((each) => each.id != publicacion.id)
                    })
            },
            getPublicacionPrecioTotal (publicacion) {
                return publicacion.precio * publicacion.cantidad
            },
            seguirComprando () {
                window.location.href = REDIRECT_URL
            },
            hasErrors() {
                this.buyError = ''
                this.publicaciones.forEach((publicacion) => {
                    if (this.isInactiva(publicacion) || this.isOutOfStock(publicacion)) {
                        this.buyError = 'No puedes comprar productos inactivos o sin stock.'
                    }
                })
                if (this.total > this.saldo) {
                    this.buyError = 'El monto total de la compra supera su saldo de billetera actual ($' + this.saldo + ')'
                }
                // TODO: Chequear saldo en billetera virtual usando AJAX
                return this.buyError != ''
            },
            confirmarCompra () {
                if (!this.hasErrors()) {
                    $('#buymodal').modal('show')
                }
            },
            comprar () {
                if (!this.hasErrors()) {
                    $.get(BUY_URL)
                        .done( data => {
                            this.buySuccess = data.content.response
                            $('#buymodal').modal('hide')
                        })
                }

            },
            syncCantidad (publicacion) {
                const cantidad = publicacion.cantidad
                $.get(UPDATE_CANTIDAD_ITEM_URL + publicacion.id, {cantidad: cantidad}, (data) => {
                      if (data.status === 400) {
                        let error = JSON.parse(data.content)
                        this.buyError = error
                      } else {
                        console.log("updated quantity: " + cantidad)
                      }
                })
            }
        },
        created () {
            $.get(ITEMS_URL)
            .done( data => {
                this.publicaciones = data.content.items
            })
            $.get(MIS_MOVIMIENTOS_URL)
            .done( data => {
                this.saldo = data.content.saldo
            })
        }
    })
</script>

{% endblock %}
