{% extends "base.html" %}
{% load static %}

{% block title %}Mis Compras{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}

{% block content %}
{% verbatim %}
<div id="app" class="container mt-5 pt-5">
    <main class="col-md-12">
        <article class="card  mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">Tus Ventas</h5>
                
        <section class="section-content padding-y">
            <div class="container">
                <div class="row">
                    <main class="col-md-12">
                    <div class="row mb-3">
                        <div class="col col-md-6">
                        </div>
                        <div class="col col-md-6" style="text-align: end">
                            <a href="#" class="btn btn-outline-info" @click="sendToStats">Ver Estadísticas</a>
                        </div>
                    </div>
                    <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Producto</th>
                      <th scope="col">Comprador</th>
                      <th scope="col" width="120">Cantidad</th>
                      <th scope="col" width="120">Precio</th>
                      <th scope="col" class="text-right" width="200">Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- ITEM PUBLICACION -->
                    <tr v-for="t in transacciones">
                        <td>
                            <figure class="itemside">
                                <div class="aside"><img :src="t.publicacion.images[0]" class="img-sm"></div>
                                <figcaption class="info">
                                    <a href="#" class="title text-dark">{{ t.publicacion.nombre }}</a>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <div style="text-align: left">
                                <var class="price">
                                    {{ t.comprador.nombre_completo }}
                                </var>
                                <small>
                                    {{ t.comprador.email }}
                                </small>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: left">
                                <small>
                                    {{ t.cantidad}} Unidades
                                </small>
                                <br/>
                            </div>
                        </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">${{ t.cantidad * t.precio_unitario }}</var> 
                                <small class="text-muted">${{ t.precio_unitario }} X Unidad</small> 
                            </div> <!-- price-wrap .// -->
                        </td>
                        <td class="text-right">
                            {{ t.fecha }}
                        </td>
                    </tr>
                    <!-- END ITEM PUBLICACION -->
                    </tbody>
                    </table>
                
                    </div> <!-- card.// -->
                        </main> <!-- col.// -->
                    </div>
                    
                    </div> <!-- container .//  -->
                </section>  
                
            </div> <!-- card-body .// -->
        </article> <!-- card.// -->
    </main>


</div>
{% endverbatim %}
{% endblock %}

{% block extra_scripts %}
<script>
    /* URLS */
    const MIS_VENTAS_URL = "{{ BASE_URL }}" + "{% url 'api-compras-items-sold' %}"
    const ESTADISTICAS_URL = "{% url 'estadisticas-mias' %}"
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
          transacciones: []
        },
        methods: {
            sendToStats () {
                window.location.href = ESTADISTICAS_URL
            }
        },
        computed: {
        },
        created () {
          $.get(MIS_VENTAS_URL)
          .done( data => {
              this.transacciones = data.content.transacciones
          })
        }
    })
</script>
{% endblock %}