{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesion{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Constaseña"/>
      <input type="text" placeholder=Email"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="class="login-form">
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      <button>Iniciar sesion</button>
      <p class="message">No registrado? <a href="/registrarse">Crea una cuenta!</a></p>
    </form>
  </div>
</div>
{% endblock %}