{% extends "base.html" %}
{% load static %}

{% block title %}Iniciar Sesion{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form method="POST" class="class="login-form">
        {% csrf_token %}
        {% if form.errors %}
            <p style="color: red">El Usuario y Contraseña ingresados son Incorrectos</p>
        {% endif %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
      <button type="submit">Iniciar sesion</button>
      <p class="message">No registrado? <a href="{% url 'register' %}">Crea una cuenta!</a></p>
    </form>
  </div>
</div>
{% endblock %}