{% extends "base.html" %}
{% load static %}


{% block title %}Registrar un nuevo usuario{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form method="POST" class="login-form">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
      <button type="submit">crear</button>
      <p class="message">Ya estas registrado? <a href="{% url 'login' %}">Inicia sesión!</a></p>
    </form>
  </div>
</div>
{% endblock %}
