{% extends "base.html" %}
{% load static %}


{% block title %}Registrar un nuevo usuario{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Usuario"/>
      <input type="text" placeholder="Nombre"/>
      <input type="text" placeholder="Apellido"/>
      <input type="date" placeholder="Fecha de nacimiento">
      <input type="text" placeholder="Email"/>
      <input type="text" placeholder="Confirmar email"/>
      <input type="password" placeholder="Constaseña"/>
      <input type="password" placeholder="Confirmar constaseña"/>
      <button>crear</button>
      <p class="message">Ya estas registrado? <a href="/iniciarsesion">Inicia sesión!</a></p>
    </form>
  </div>
</div>
{% endblock %}
